container{
    display:flex;
    flex-direction: column;
}
.box1{
    width:200px;
    height:200px;
    background-color: brown;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 600px;
    transition-duration: 2s;
    transition-timing-function: ease;
}
.box1 .word{
    color:black;
    text-align: center;
    line-height: 200px ;

}
.box1:hover{
    background-color:rgb(255, 98, 0);
    transform: translate(100px,100px);
}
.box2{
    width:200px;
    height:200px;
    background-color:aqua;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 600px;
    transition-duration: 2s;
    transition-timing-function: ease;
   
}
.box2 .word{
    color:black;
    text-align: center;
    line-height: 200px ;
}
.box2:hover{
    background-color:beige;
    transform:rotate(30deg);
}
.box3{
    width:200px;
    height:200px;
    background-color:coral;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 600px;
    transition-duration: 2s;
    transition-timing-function: ease;
    transition-property: width;
    transition-property: height;
   
}
.box3:hover{
    background-color:cornflowerblue;
    width:400px;
    height:400px;
}
.box3 .word{
    color:black;
    text-align: center;
    line-height: 200px ;   
}
